//background colour
$background-col: #363732ff;

//div colours
$div-col: #dce1e9ff;

// button colours
$btn-col: #53d8fbff;
$btn-border-col: #66c3ffff;
$btn-correct-ans-col: #7af0bf;
$btn-incorrect-ans-col: #f4acb7ff;
$btn-next-col: #dce1e9ff;

// text colours
$text-col1: #363732ff;
$text-col2: #345995;
$text-col3: #9d6381;
