//background colour
$background-col: linear-gradient(to right, #5654a9, #380f58);

//div colour
$div-col: #34252f;

//border colour
$border-col: #e1a157;
$border-col-2: #6a4c93;

// button colours
$ans-btn-col: linear-gradient(#6a4c93, #e1a157);
$help-btn-col: linear-gradient(#5293b5, #6a4c93);
$correct-ans-col: #7af0bf;
$incorrect-ans-col: #f4acb7ff;

//score colour
$score-col: linear-gradient(#6a4c93, #380f58);

// text colours
$text-col1: #e1a157;
$text-col2: #363732ff;
