// font size (desktop--lg)

$lg-header-font-size: 48px;
$lg-question-font-size: 35px;
$lg-button-font-size: 28px;
$lg-score-font-size: 30px;
$lg-message-font-size: 40px;

// font size (mobile--s)

$s-header-font-size: 35px;
$s-question-font-size: 30px;
$s-button-font-size: 32px;
$s-score-font-size: 25px;
$s-message-font-size: 38px;
