// font size (desktop--lg)

$lg-header-font-size: 48px;
$lg-question-font-size: 35px;
$lg-ans-button-font-size: 1.6vw;
$lg-button-font-size: 28px;
$lg-button-font-size-2: 24px;
$lg-message-font-size: 40px;

// font size (mobile--s)

$s-header-font-size: 35px;
$s-question-font-size: 30px;
$s-button-font-size: 32px;
$s-button-font-size-2: 25px;
$s-message-font-size: 38px;

// both
$score-font-size: 30px;
