@use "media-queries";
@use "palette";
@use "typography";

@mixin section-border {
	border-radius: 1.5vw;
	padding: 20px;
}

@mixin btn-style {
	border-radius: 15px;
	padding: 10px;
	background-color: palette.$btn-col-1;
}

@mixin btn-style-2 {
	display: none;
	@include btn-style();
	color: palette.$text-col2;
	margin: 20px;
	border: none;
}

body {
	background-color: palette.$background-col;
}
h1 {
	color: palette.$text-col1;
	@include section-border();
}
.whole-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	@include section-border();
	&--col {
		background-color: palette.$div-col;
	}
}
.question {
	color: palette.$text-col2;
	text-align: center;
}
.answers {
	&__btn {
		@include btn-style();
		color: palette.$text-col1;
		border: 2px solid palette.$btn-border-col-1;
		min-height: 55px;
	}
}
#allButtons {
	display: flex;
	align-items: center;
	margin: 10px;
	gap: 5vw;
}
#btnFiftyFifty {
	@include btn-style();
	border: 2px solid palette.$btn-border-col-2;
	background-color: palette.$btn-col-2;
	color: palette.$text-col2;
	border-radius: 100%;
	width: 85px;
	height: 85px;
}
#score {
	color: palette.$text-col3;
	font-size: typography.$score-font-size;
}
#message {
	display: none;
	color: palette.$text-col3;
	margin: 10px;
}
.btn {
	@include btn-style-2();
}

@include media-queries.desktop {
	.whole-display {
		margin: auto;
		width: 55vw;
	}
	h1 {
		font-size: typography.$lg-header-font-size;
	}
	.section {
		width: 50vw;
	}
	.question {
		font-size: typography.$lg-question-font-size;
	}
	.answers {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 15px;
		&__btn {
			font-size: typography.$lg-button-font-size;
			width: 18vw;
		}
	}
	#btnFiftyFifty {
		font-size: typography.$lg-button-font-size-2;
	}
	#message {
		font-size: typography.$lg-message-font-size;
	}
	.btn {
		font-size: typography.$lg-button-font-size;
	}
}

@include media-queries.mobile {
	.whole-display {
		margin: 5vw;
	}
	h1 {
		font-size: typography.$s-header-font-size;
	}
	.section {
		width: 65vw;
	}
	.question {
		font-size: typography.$s-question-font-size;
	}
	.answers {
		display: flex;
		flex-direction: column;
		gap: 10px;
		&__btn {
			font-size: typography.$s-button-font-size;
			width: 50vw;
		}
	}
	#btnFiftyFifty {
		font-size: typography.$s-button-font-size-2;
	}
	#message {
		font-size: typography.$s-message-font-size;
	}
	.btn {
		font-size: typography.$s-button-font-size;
	}
}
