@use "media-queries";
@use "palette";
@use "typography";

@mixin section-border {
	border-radius: 1.5vw;
	padding: 20px;
}

@mixin btn-style {
	border-radius: 1.25vw;
	padding: 10px;
	background-color: palette.$btn-col;
}

body {
	background-color: palette.$background-col;
}
h1 {
	color: palette.$text-col1;
	@include section-border();
}
.whole-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	@include section-border();
	&--col {
		background-color: palette.$div-col;
	}
}
.question {
	color: palette.$text-col2;
	text-align: center;
}
.answers {
	&__btn {
		@include btn-style();
		background-color: palette.$btn-col;
		color: palette.$text-col1;
		border: 2px solid palette.$btn-border-col;
	}
}
#score {
	color: palette.$text-col3;
}
#message {
	display: none;
	color: palette.$text-col3;
	margin: 10px;
}
#nextOrAgain {
	display: none;
	@include btn-style();
	color: palette.$text-col2;
	margin: 20px;
	border: none;
}

@include media-queries.desktop {
	.whole-display {
		margin: 10vw;
	}
	h1 {
		font-size: typography.$lg-header-font-size;
	}
	.section {
		width: 50vw;
	}
	.question {
		font-size: typography.$lg-question-font-size;
	}
	.answers {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 15px;
		&__btn {
			font-size: typography.$lg-button-font-size;
			width: 23vw;
		}
	}
	#score {
		font-size: typography.$lg-score-font-size;
	}
	#message {
		font-size: typography.$lg-message-font-size;
	}
	#nextOrAgain {
		font-size: typography.$lg-button-font-size;
	}
}

@include media-queries.mobile {
	.whole-display {
		margin: 5vw;
	}
	h1 {
		font-size: typography.$s-header-font-size;
	}
	.section {
		width: 65vw;
	}
	.question {
		font-size: typography.$s-question-font-size;
	}
	.answers {
		display: flex;
		flex-direction: column;
		gap: 10px;
		&__btn {
			font-size: typography.$s-button-font-size;
			width: 60vw;
		}
	}
	#score {
		font-size: typography.$s-score-font-size;
	}
	#message {
		font-size: typography.$s-message-font-size;
	}
	#nextOrAgain {
		font-size: typography.$s-button-font-size;
	}
}
